
        * {

             font-family: 'inter', sans-serif;
             color: white;
                            
        }


        body {

            background-color: #b5c5ea;
        }

        div {
            background-color: #476ecc;
            width: 400px;
            height: 400px;
            padding: 24px;
            box-sizing: content-box;

            margin: 244px auto;
        }

        h1 {

            border: 10px solid white;
            border-radius: 60px;
            
        }

        h1,p {
            padding: 30px 50px;
        }
