<style>

        .classeTagParagrafo {

                            color: red;
                            text-align: center;
                            border: 2px solid black;
                            margin-top: 18px;
        }


        body {

            background-color: white;
        }

        h1 {

            color: black;
            text-align: center;
        }

        p {

            font-family: Verdana;
            font-size: 20px;
            color: blue;
            border: 2px solid black;
            text-align: center;
        }

        #meuID {
            color: red;
            border: 0px;
        }

        label {

            color: magenta;
        }

    </style>